@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap");
:root {
  --pale: #eeeef3;
  --accent: #5c5ccc;
  --grey: #242425;
  --darkgrey: #171718;
  --lightgrey: #4f4f50;

  --basic-font: "Mulish", sans-serif;
}
.App {
  text-align: center;
  background-color: var(--darkgrey);
  height: 100vh;
  color: var(--pale);
  font-family: var(--basic-font);
}
a {
  text-decoration: none;
  color: var(--pale);
  padding: 0 35px;
  cursor: pointer;
}

/* NAVBAR */
.navbar {
  width: 100vw;
  padding: 8px 0;
}
