@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap");
:root {
  --pale: #eeeef3;
  --accent: #59597a;
  --grey: #242425;
  --darkgrey: #171718;
  --lightgrey: #2c2c2c;

  --basic-font: "Mulish", sans-serif;
  --accent-font: "Gruppo", sans-serif;
}
* {
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: var(--darkgrey);

  height: 100vh;
  width: 100%;
  color: var(--pale);
  font-family: var(--basic-font);
}
ion-icon {
  font-size: 64px;
}
a {
  text-decoration: none;
  color: var(--pale);
  cursor: pointer;
  padding: 0;
}

h1 {
  margin: 0;
  text-align: center;
  font-family: var(--accent-font);
}
h2 {
  margin: 0;
  font-family: var(--accent-font);
}
